<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tienda</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ico/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
