
<nav class='navbar navbar-dark bg-dark'>
  <div class="container">
    <div class="row">
      <span class='navbar-brand col' id='title-nav'></span>
      <form action="index.html" class='col-md-8' method="post">
        <input type="search" id='inputs-search' name="search" placeholder='Buscar Producto' class="form-control">
      </form>
    </div>
  </div>
</nav>
